body {
    margin: 0;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1d1d1b;
    text-align: center;
}

.mapache {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 300px;
    animation: aparecerMapache 2s ease;
}


 /* Encabezado */

header {
    padding: 50px 20px;
}

header h1 {
    font-family: 'Sansita Swashed', cursiva;
    font-size: 50px;
    color: white;
}

header p {
    font-size: 18px;
    color: white;
}

.contacto-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 30px;

    padding: 50px;
    max-width: 900px;
    margin: auto;
}

/* Tarjetas de contacto */

.card-contacto {
    background-color: #98d0e2;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transition: all 0.3s ease;
    box-shadow: 0 0px 20px rgba(224, 224, 224, 0.548);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-contacto span {
    font-weight: bold;
    font-size: 16px;
}


/* Iconos */

.card-contacto img {
    width: 40px;
    height: 60px;
    object-fit: contain;
}

.card-contacto:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 0px 30px #98d0e2;
}

/* Boton de volver */

.volver {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    transition: 0.3s;
}

.volver:hover {
    color: #ff544c
}


/* Animacion de carga */

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header,
.contacto-container,
.card-contacto {
    animation: aparecer 1s ease;
}

/* Animación de mapache */

@keyframes aparecerMapache {
    from {
        opacity: 0;
    }
    to {
        opacity: 2;
    }
}